<div id="news" class="cards-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Cosa devi sapere</h2>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-12">
                
              
                <div class="card">
                    <div class="card-icon">
                        <span class="fas fa-balance-scale"></span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">La Giusta Quantità</h5>
                        <p>L’unità di misura è il gallone (gallon) e non il litro: 1Gal equivale a circa 3.79 Litri.</p>
                        <a class="read-more no-line" href="https://convertlive.com/it/u/convertire/galloni-us-liquido/a/litri">Di più <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
            
                <div class="card">
                    <div class="card-icon red">
                        <span class="fas fa-globe"></span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">50 Mila Stazioni</h5>
                        <p>Negli USA sono presenti più di 50.000 stazioni di rifornimento.</p>
                        <a class="read-more no-line" href="https://www.evgo.com/">Di più <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
              
                <div class="card">
                    <div class="card-icon green">
                        <span class="far fa-comments"></span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Prezzo e Qualità</h5>
                        <p>I prezzi del carburante negli USA sono tra i più bassi del mondo industrializzato!</p>
                        <a class="read-more no-line" href="https://www.nrel.gov/about/ev-charging-stations-pricing.html">Di più <span class="fas fa-long-arrow-alt-right"></span></a>
                    </div>
                </div>
                
  
            </div>
        </div>
    </div>
  </div> 
  <div id="about" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/computers_office.jpg" alt="alternative" />
                </div>
            </div>
            <div class="col-lg-6 col-xl-8">
                <div class="text-container">
                    <div class="section-title">COSA FACCIAMO</div>
                    <h2>Progettazione, pubblicazione e assistenza.</h2>
                    <p>Ci occupiamo, con impegno e dedizione, alla creazione di servizi basati su specifiche richieste dal 2020.</p>
                    <a class="btn-solid-reg" href="https://www.cittametropolitana.mi.it/portale/">DOVE SIAMO</a>
                </div>
            </div>
        </div>
    </div>
  </div>