<ul *ngFor="let vet of listaDati" class="container list">
    <span class="span">Station Name: </span>{{vet.Station_Name}}<br>
    <span class="span">Street Address: </span>{{vet.Street_Address}}<br>
    <span class="span">City: </span>{{vet.City}}<br>
    <span class="span">State: </span>{{vet.State}}<br>
    <span class="span">ZIP: </span>{{vet.ZIP}}<br>
    <span class="span">Station Phone: </span>{{vet.Station_Phone}}<br>
    <span class="span">EV Network: </span>{{vet.EV_Network}}<br>
    <span class="span">Latitude: </span>{{vet.Latitude}}<br>
    <span class="span">Longitude: </span>{{vet.Longitude}}<br>
    <hr>
</ul>